<!DOCTYPE html>
<html>
<head>
  <title>My Simple Application</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="#">Libros</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Buscar un libro", books_path %></li>
            <li><%= link_to "Usuarios", users_path %></li>
            <li><%= link_to "Lista de Precios" %></li>
            <li><%= link_to "Contáctenos" %></li>
            <li><%= link_to "Carrito de Compras" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>Acerca de ...</h2>
        La noche de sentencias, duelo y eliminaciones en la gala del aquadance llegó ayer a "Bailando 2012" . Con dos eliminados y siete parejas sentenciadas, el voto de la gente terminó de definir la impactante serie de ShowMatch (a las 22.30, por El Trece): con el 59,68 % de los llamados telefónicos, la modelo Verónica Perdomo les ganó a Ayelén Paleo (con el 13,03 %) y a Marcela Feudale, que obtuvo el 27,29 % de los votos.

El vértigo se sintió desde el minuto uno. Con un saco de un intenso color rojo salió Marcelo Tinelli a cerrar la serie que sólo dejaría 16 parejas compitiendo entre los 18 finalistas que comenzaron la ronda. Lo acompañaba su jurado titular: Carmen Barbieri, Flavio Mendoza, Moria Casán -con voto secreto-, Aníbal Pachano, Antonio Gasalla y Marcelo Polino.
      </div>
    </div>
  </div>

</body>
</html>
